.layoutContent {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6vh;
}

.layoutFooter {
    text-align: center;
    color: #fff;
    background-color: #4096ff;
}

.layout {
    min-height: 100vh !important;
}
